torch
torchvision
deepspeed==0.6.5
xformers
timm==0.5.4
webdataset>=0.2.5
tqdm
pandas
braceexpand
huggingface_hub
transformers
pillow
blobfile
mypy
numpy==2.3.2
pytest
requests
einops
tensorboardX
scipy
sh
wandb
ftfy
regex
iopath
pyyaml
pymilvus==2.5.14
fastapi
uvicorn
requests